 body{
 	background: green;
 }



h1{
  	margin: 30px;
		text-align: center;
 }

h2{   
			margin: 30px;
			text-align: center;
 
}
 a{ 
		margin:50pc;
		text-align: center;
 		font-size: 40px;
 		color:black;

 }