
body{
	background-image: url("../nature.jpg");
 	background-size: auto;
 	background-position:center;
 	background-repeat: no-repeat;
 	background-size: cover;
	text-align:center; 
	font-size: 30px;
    margin: auto;
}

form{
	align-items: center;
	background:white;
	font-size: 36px;
	padding:0;
    margin: 30%;
    border: 30px solid white;
}
a{ text-align-last: center;
	font-size: 30px;
	margin: auto;
}

label{
	

    background: white;
	font-size: 36PX;
	margin: auto;
}
input, {

	
	text-align: center;	
	font-size: 30px;
    margin: auto;

}



