 body{
 	margin:auto;
	text-align: center;
 	font-size: 20px;
	color:blue;
 	background-image: url("../jobs.png");
	background-size: auto;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
 }



h1{ 
	background: black;
  	margin: 30px;
	text-align: center;
 }

h2{	
	background: white; 
	margin:auto;
	text-align: center;
 
}

a{ 
	margin:60%;
	text-align: center;
	font-size: 30px;
 	color:pink;

 }

 